<!DOCTYPE html>
<html>
<head>
  <title>Vuejs</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= yield :head %>
</head>

<body>
<%= yield %>
</body>

<%= javascript_include_tag 'application' %>
<%= yield :js %>

</html>
